.rules {
    
    &__title {
        color: var(--black);
        text-align: center;
        margin-bottom: 24px;
    }
    
    &__content {
        flex-wrap: wrap;
        display: flex;
        gap: 32px;
        
        &-item {
            position: relative;
            padding: 40px;
            background-color: var(--yellow);
            flex: 1 1 47%;
        
            &-number {
                position: absolute;
                background-color: var(--very-dark-blue);
                width: 48px;
                height: 48px;
                right: 48px;
                bottom: -24px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--beige);
            }
        }
    }
}