.advantages {
    background-color: var(--beige);

    &__item {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        justify-content: space-between;
        border-bottom: 1px solid var(--beige);

        &-img {
            width: 25%;

            img {
                max-width: 400px;
                width: 100%;
                height: auto;
                margin: 0 auto 20px;
            }
        }

        &-text {
            width: 73%;
        }

        &:last-child {
            border: none;
        }
    }
}