.experience {
    &__title {
        color: var(--gray);
        margin-bottom: 32px;
    }

    &__content {
        display: flex;

        &-item {
            flex: 1 1 calc(100%/3 - 4px);
            padding: 16px;
            border-right: 2px solid rgba(229, 229, 229, 1);

            &:last-child {
                border: none;
            }
        }

        &-title {
            margin-bottom: 16px;
            color: var(--orange);
            font-size: 80px;
            line-height: 1.4;
            font-weight: 700;
        }

        &-text {
            font-size: 20px;
            line-height: 32px;
            color: var(--very-dark-blue);
        }
    }
}